.cart-icon{
    background-color: orange;
    flex: 1;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* fill-rule: auto; */
    justify-content: center;
}
#navbar li a {
    list-style: none;
    padding: 0 20px;
}
#navbar li a:hover{
    color: blue;
}
#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
.links{
    flex: 2;
   display: flex; 
   /* justify-content: space-evenly; */
   /* background-color: blue; */
}
.logoh{
    flex: 1;
}
.design{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: aquamarine;
}